extends ./layout/index

block slider
  .slider
    h1 Rio de Janeiro
    em aventura

block contenido
  main.container.mt-5
    h2.text-center.mb-5 Sobre Nosotros
    .row.mb-5
      .col-md-6
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ab rem error, vero esse veritatis animi temporibus, deleniti quas asperiores aliquid sequi dolore corporis nemo unde natus debitis et libero?
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero blanditiis expedita sint porro omnis aut ratione, mollitia maiores quisquam voluptatibus temporibus fugit harum id beatae repellat nostrum et laborum officiis?
      .col-md-6
        img(src="/img/inicio_nosotros.jpg", alt="about us", class="img-fluid")
    
    include ./layout/bloque_viajes
  
  .descuento
    .container
      .row
        .col-md-6
          .contenido
            h3 5% de Descuento
            p.titulo Viaje a Canada
            p.fecha 20 de Marzo del 2022 - 28 de Marzo del 2022
            p.precio $2,500 USD
    
  .container
    h2.mt-5.text-center Testimoniales

    include ./layout/bloque_testimoniales