extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="logo nosotros", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quaerat tempora eligendi ab quod obcaecati doloribus reiciendis! Rem, commodi perspiciatis dolorum voluptatibus, minima officia non aut mollitia dolores tenetur labore!

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam facere natus possimus, modi cumque labore odit eveniet assumenda alias inventore voluptas ipsa, provident quibusdam. Quas quidem fugiat facere autem amet. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea id perferendis asperiores nisi aut fugiat vel, praesentium laudantium quaerat, reiciendis totam veniam cumque error nesciunt quas earum rem dolorum maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit. 

        p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem perspiciatis deleniti voluptatem vitae architecto, possimus temporibus nostrum eaque eum ullam? Eligendi porro tenetur perferendis minima quidem voluptate eos voluptas qui.
  
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fuild mb-4")
          h2.mb-4 Seguridad
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quos itaque voluptate molestiae totam suscipit fugit omnis, quaerat cumque temporibus earum impedit quis esse ipsam magnam nobis in commodi voluptas!
        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fuild mb-4")
          h2.mb-4 Mejores destinos
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quos itaque voluptate molestiae totam suscipit fugit omnis, quaerat cumque temporibus earum impedit quis esse ipsam magnam nobis in commodi voluptas!

        .col-md-4
          img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fuild mb-4")
          h2.mb-4 Mejores precios
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quos itaque voluptate molestiae totam suscipit fugit omnis, quaerat cumque temporibus earum impedit quis esse ipsam magnam nobis in commodi voluptas!